* {
  margin: 0;
  padding: 0;
}

body, html{
  height: 100%;

  position: relative;
  color: white;

  background: url("pictures/background/milky-way.jpg") no-repeat center center fixed;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header {
  background-color: #8B8B8B;
  height: 175px;
  border: 1px solid black;

  overflow: hidden;
}

.navigation {
  position: relative;
  float: right;
  margin-top: -0.75%;



  padding: 5px;
  border: 1px solid purple;
}

.navigation ul {
  list-style-type: none;
  overflow: hidden;
}

.navigation li {
  float: left;
}

.navigation a {
  display: block;
  text-align: center;
  text-decoration: none;

  font-family: "Josefin Sans Thin";
  font-size: 1.75vw;
  text-shadow: 0.5px 1px #000000;
  color: #E9E9E9;
  border: 1px solid red;
}

.navigation #nav {
  margin-right: 45px;
}


.navigation a:hover {
  color: rgba(100, 100, 100, 0.5);
}


.name h1{
  display: inline-block;
  position: relative;
  top: 50px;
  left: 1.5%;

  font-family: "Josefin Sans Thin";
  font-size: 4vw;
  text-shadow: 1px 2px #000000;
  color: #E9E9E9;

  border: 1px solid blue;
}

.social-media {
  float: right;
  margin-top: -8.5px;
  border: 1px solid grey;

  height: 33px;
}

.social-media img {
  height: 33px;
  width: 33px;

  margin-right: 25px;
  margin-left: 20px;

  border: 1px solid pink;
}

.social-media img:hover{
  background-color: rgba(100, 100, 100, 0.5);
}



.text-container {
  position: fixed;
  top: 50%;
  left: 50%;
    transform: translate(-50%, -50%);
}

.text-container h1{


  font-family: "Josefin Sans Bold";
  font-size: 8.5vw;
  text-shadow: 3px 4px rgba(50, 50, 50, 0.5);
  color: #E9E9E9;

}

.para-container {
  font-family: "Josefin Sans Light";
  font-size: 1.5vw;

  text-shadow: 1px 2px rgba(50, 50, 50, 0.5);
  color: #E9E9E9;

}

#photo {
  float: left;
  margin-left: 75px;
}

#film {
  float: right;
  margin-right: 75px;
}
