* {
  margin: 0;
  padding: 0;
}

header {
  background-color: #8B8B8B;
  height: 175px;
  border: 1px solid black;
}

.navigation {
  position: relative;
  float: right;
  margin-top: -15px;



  padding: 5px;
  border: 1px solid purple;
}

.navigation ul {
  list-style-type: none;
  overflow: hidden;
}

.navigation li {
  float: left;
}

.navigation a {
  display: block;
  text-align: center;
  text-decoration: none;

  font-family: "Josefin Sans Thin";
  font-size: 1.75vw;
  text-shadow: 0.5px 1px #000000;
  color: #E9E9E9;
  border: 1px solid red;
}

.navigation #nav {
  margin-right: 45px;
}


.navigation a:hover {
  color: rgba(100, 100, 100, 0.5);
}


.name h1{
  display: inline-block;
  position: relative;
  top: 50px;
  left: 1.5%;

  font-family: "Josefin Sans Thin";
  font-size: 4vw;
  text-shadow: 1px 2px #000000;
  color: #E9E9E9;

  border: 1px solid blue;
}

.social-media {
  float: right;
  margin-top: -8.5px;
  border: 1px solid grey;

  height: 33px;
}

.social-media img {
  height: 33px;
  width: 33px;

  margin-right: 25px;
  margin-left: 20px;

  border: 1px solid pink;
}

.social-media img:hover{
  background-color: rgba(100, 100, 100, 0.5);
}

.container img {
  height: 100%;
  width: 100%;

  border: 1px solid yellow;
}
