* {
  margin: 0;
  padding: 0;
}

body, html{
  height: 100%;

  position: relative;
  color: white;

  background: url("pictures/background/bridge.jpg") no-repeat center center fixed;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header {
  height: 175px;
}

.navigation {
  position: relative;
  float: right;
  margin-top: -0.05%;

  padding: 5px;
}

.navigation ul {
  list-style-type: none;
}

.navigation li {
  float: left;

}

.navigation a {
  display: block;
  text-align: center;
  text-decoration: none;

  font-family: "Josefin Sans", sans-serif;
  font-weight: 100;
  font-size: 1.75vw;
  text-shadow: 0.5px 1px #000000;
  color: #E9E9E9;

  transition: all .15s ease-in-out;
}

.navigation a:hover {
  transform: scale(1.1);
  color: rgba(255, 255, 255, 1);
}

.navigation #nav {
  margin-right: 45px;
}

.name a{
  display: inline-block;
  position: relative;
  top: 45px;
  left: 1.5%;

  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
  font-weight: lighter;
  font-size: 4vw;
  text-shadow: 1px 2px #000000;
  color: #E9E9E9;

  transition: all .35s ease-in-out;
}

.name a:hover {
  transform: scale(1.1);
}

.social-media {
  float: right;
  margin-top: 2px;

}

.social-media img {
  height: 28px;
  width: 28px;

  margin-right: 25px;
  margin-left: 20px;

  transition: all .2s ease-in-out;
}

.social-media img:hover{
  transform: scale(1.1);
}

.text-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text-container h1{


  font-family: "Josefin Sans", sans-serif;
  font-size: 8.5vw;
  font-weight: bolder;
  text-shadow: 3px 4px rgba(50, 50, 50, 0.5);
  color: #E9E9E9;

}

.para-container {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 200;
  font-size: 1.5vw;

  text-shadow: 1px 2px rgba(50, 50, 50, 0.5);
  color: #E9E9E9;

}

#photo {
  float: left;
  margin-left: 75px;
}

#film {
  float: right;
  margin-right: 75px;
}
